


.producto * {


  box-sizing: border-box; /* para que los padding y border no se sumen al width */


}


.producto {


  text-align: center; /* todo centradico */



}

.producto {


  display: inline-block;
  


  width: 100%;


  margin: -2px; /* esto es para solventar la posibilidad de que no entren las columnas diseñadas */


  vertical-align: top; /* alinear cada producto arriba */

  


}


@media (min-width: 425px) { /* para esta resolución mínima */


.producto {


    width: 50%; /* 2 columnas a partir de la resolución indicada */


  }


}


@media (min-width: 768px) { /* para esta resolución mínima */


.producto {


    width: 33.33333333%; /* 3 columnas a partir de la resolución indicada */


  }


}


@media (min-width: 992px) { /* para esta resolución mínima */


 .producto {


    width: 25%; /* 4 columnas a partir de la resolución indicada */


  }


}


.producto a {


  display: block; /* para que el enlace abarque toda la "celda" del producto */



  transition: transform .5s; 
  width: 90%;


}


.producto a:hover {


  box-shadow: 0 0 0 2px #ccc; /* efecto para remarcar productos al pasar el cursor por encima */
  text-decoration: none;
  transform: scale(1.05); 

}


.producto img { /* para que las imágenes se autoajusten si la producto es más pequeña */


  max-width: 100%;


  height: 240px;


}

*{
  border-radius: 5%;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}


.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-block;
}
.coment{
  display: inline-block;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
label{
  font-size: 25px;
  color: gray;
}
.boton a{
  width: 50%;
  font-size: 80%;

}
p.clasificacion{
  margin-left: 10px;

}
i{
  font-size: 30px;
  color: gray;
  position: relative;
  z-index: 1;
  left: 90px;
  top: 35px;
}
i:hover{
  color: red;
}
.b_newpublicacion{

}