
.comentariosProducto{
  display: inline-block;
  margin-left: 50%;
}

.imagenProducto {  /*para que las imágenes se autoajusten si la producto es más pequeña */


  max-width: 100%;
  max-height: 100%;

  border-radius: 5%;
  width: 100%;
  height: 100%;


}




.cajaProducto {

  box-sizing: border-box; /* para que los padding y border no se sumen al width */
  display: inline-block;
  text-align: center;
  width: 90%;
  height: auto;
  vertical-align: top; /* alinear cada producto arriba */
  border-radius: 5%;
  margin-top: 10%;
  padding: 1px;
  background-color: gray;

}

@media (min-width: 500px){
  .cajaProducto {


    width: 100%;
 
  }
}





.cajaProducto.navProducto {


  display: block; /* para que el enlace abarque toda la "celda" del producto */
  transition: transform .5s; 
  width: 90%;


}
.cajaProducto a:hover{
  text-decoration: none;
  color: black;
}
.cajaProducto a:link{
  text-decoration: none;
  color: black;
}
.cajaProducto a:visited{
  text-decoration: none;
  color: black;
}
.cajaProducto a:active{
  text-decoration: none;
  color: black;
}

.cajaProducto:hover {
  transform: scale(1.05); 
}

/*MODIFICAR EL CORAZON*/
.corazonProducto{
  font-size: 180%;
  color: gray;
  position: relative;
  z-index: 1;
  top: 10%;
}
.corazonProducto:hover{
  color: red;
}

.botonProductoPublicar{
  position: relative;
  width: 100%;
  margin-left: 10%;
  margin-top: 100%;
  
}
.textoProducto{
  text-align: left;
  padding: 5%;
}
