.cabecera{
height: 70%;
background: rgb(22, 21, 21);
}
.pie{
height: 30%;
background: radial-gradient(circle,rgb(22, 21, 21), rgb(0, 102, 255));
}
.botonInicio{
  margin-top: 1%;
  float: right;
  
}
.cajaUno{
  width: 50%;
  height: 25%;;
  margin-left: 10%;
}
/*TITULO*/
.tituloUno{
  overflow:hidden;
  white-space:nowrap;
  font-size: 100%;
  font-family: 'Robot';
  color: white;
}


/*botones mapa y cursos*/
.cajaDos{
  width: 100%;
  height: 100%;
}
.imagen{
  width: 25%;
  height: 80%;
  margin-top: 1%;
}


/*logo*/
@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.logo {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width:560px){
  .logo {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media (max-width:720px){
  .logo {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 12%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media (max-height:720px){
  .logo {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-width:960px){
  .logo {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%);
  }
}


.logo:before,
.logo:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 40%;
  top: 50%;
  display: block;
  border: 10px solid rgb(0, 102, 255);
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.logo:before {
  border-color: rgb(0, 102, 255) rgb(0, 102, 255) rgb(0, 102, 255) rgb(0, 102, 255);
  z-index: -1;
}

.logo:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)rgba(0, 0, 0, 0)rgba(0, 0, 0, 0);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}