.formPublicacion{

    padding: 15%;
    padding-top: 5%;
    background-color: #1089ff;

}
.tituloPublicacion{
    
    color: black;   
}
.textoPublicacion{
    color: black;
}
.botonEnviar{
    visibility: hidden;
}

.imagenBotonEnviar{
    float: left;
    margin-top: -18%;
}
.prueba{
    position: relative;
    margin-top: 7px;
    margin-left: 30%;
}
.botonSubirImagen{
    position: absolute;
    margin-top: 28px;
    margin-left: -50px;
}

.containerForm{
    border: white 3px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #e5e5e5;
}


hr.separador{
    width: 100%;
    size: 3px;
    background-color: white;
    margin-bottom: 3px;
}

h3.subtitulo{
    color: black;
}