.formPublicacion{

    padding: 15%;

   background-color: #1089ff;

}
.tituloPublicacion{
    margin-left: 5%;
    margin-bottom: 8%; 
    color: black;   
}
.textoPublicacion{
    color: white;
}
.botonEnviar{
    visibility: hidden;
}

.imagenBotonEnviar{
    float: left;
    margin-top: -18%;
}
.prueba{
    position: relative;
    margin-top: 7px;
    margin-left: 30%;
}
